@import "../node_modules/bootstrap/scss/bootstrap.scss";

a {
  text-decoration: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-contact {
  background-color: rgba(0, 105, 255, 0.5);
  // margin-top: 1rem;
}

.ratio-4x3 {
  max-height: 270px;
}
